@-webkit-keyframes bounce_button {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  15% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-38px);
            transform: translateY(-38px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  52% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  70% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
}

@keyframes bounce_button {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  15% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-38px);
            transform: translateY(-38px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  52% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
  }
  70% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
  }
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.header_input {
  width: 288px;
  height: 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.header_input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.header_input:-ms-input-placeholder {
  color: #FFFFFF;
}

.header_input::-ms-input-placeholder {
  color: #FFFFFF;
}

.header_input::placeholder {
  color: #FFFFFF;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.logo_img:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0 0 10px #fcfafaed;
          box-shadow: 0 0 10px #fcfafaed;
}

.navigation {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 32px;
}

.menu-mob {
  display: none;
}

.references {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 12px;
}

.menu_link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 32px;
}

.menu_link:hover {
  text-decoration: underline;
}

.top {
  height: 735px;
  background-image: url(./img/topback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top_text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.top_catalog {
  height: 735px;
  background-image: url(img/Katalog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalogy {
  margin-top: 204px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  margin-left: 117px;
  margin-bottom: 126px;
}

.title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-style: normal;
  color: #FFFFFF;
  max-width: 792px;
}

.catalog {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.head_catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link_top_catalog {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.link_top_catalog:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.select-type {
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  width: 288px;
  height: 41px;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 14px;
  background-image: url(img/pointer.svg);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: center;
  background-size: 33;
}

.option {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.product_box {
  padding-top: 64px;
}

.special_offer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #6B0B98;
  padding-left: 92px;
  margin-bottom: 13px;
  left: 92px;
  top: 1807px;
  border-radius: 0px;
  font-size: 16px;
}

.special {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.for {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.for_item {
  height: 415px;
  grid-column: span 4;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.for_item:hover {
  -webkit-transform: translate(10px, 10px) scale(1.05);
          transform: translate(10px, 10px) scale(1.05);
  -webkit-box-shadow: 0 0 10px #133331;
          box-shadow: 0 0 10px #133331;
}

.for_item_1 {
  background-image: url(img/for1.jpg);
}

.for_item_2 {
  background-image: url(img/for2.jpg);
}

.for_item_3 {
  background-image: url(img/for3.jpg);
}

.for_item_4 {
  background-image: url(img/for4.jpg);
}

.for_item_5 {
  background-image: url(img/for5.jpg);
}

.for_item_big {
  grid-column: span 6;
}

.for_box {
  padding-top: 64px;
}

.product_content {
  margin-top: 32px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 56px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  width: 378px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.product_img {
  width: 100%;
}

.product_img:hover {
  -webkit-transform: translate(-10px, -10px) scale(1.05);
          transform: translate(-10px, -10px) scale(1.05);
  -webkit-box-shadow: 0 0 10px #4088cc;
          box-shadow: 0 0 10px #4088cc;
}

.product_name {
  margin-top: 10px;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.product_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.old_price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

.menu,
.contacts {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 12px;
}

.under_list {
  padding-bottom: 64px;
  padding-top: 32px;
}

.move,
.show {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.footer {
  background: #F7F6F6;
  padding-top: 32px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_content {
  width: 792px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_logo {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 75px;
}

.footer_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.footer_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 105px;
}

.footer_form-text {
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.icon {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.icon:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.icon:hover path {
  fill: black;
}

.communication {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

.communication:hover {
  text-decoration: underline;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  width: 275px;
}

.link {
  color: grey;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.email {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  height: 46px;
  text-align: start;
  padding-left: 25px;
}

.email_input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.email_input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.email_input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.email_input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
}

.follow {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  border-radius: 20px;
}

.follow:hover {
  -webkit-animation: bounce_button 3s ease 0s 1 normal forwards;
          animation: bounce_button 3s ease 0s 1 normal forwards;
  background-color: black;
  color: #FFFFFF;
}

@-webkit-keyframes pulse_button {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse_button {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.top-cart {
  height: 400px;
  background-image: url(img/cartback.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-big {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 127px;
  color: #FFFFFF;
}

.cart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}

.cart_content {
  grid-column: span 8;
}

.cart_name-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.cart_item {
  padding-top: 25px;
  padding-bottom: 32px;
  border: 0.5px solid #CACDD8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.cart_info {
  width: 276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.cart_info-name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.cart_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.cart_link-info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.cart_link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_number {
  background: #F7F6F6;
  border-radius: 6px;
  width: 71px;
  height: 51px;
  border: transparent;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.cart_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #FFFFFF;
}

.cart_finished-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 200px;
  height: 37px;
  left: 328px;
  top: 983px;
  border: 1px solid #000000;
  border-radius: 50px;
  margin-right: 10px;
  padding-top: 10px;
}

.cart_finished-buttons:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.order {
  height: 556px;
  width: 379px;
  background: #F7F6F6;
  border-radius: 20px;
  grid-column: span 4;
}

.order_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 44px;
  padding-top: 44px;
  margin-top: 52px;
  margin-bottom: 150px;
  background: #F7F6F6;
  margin-left: 28px;
  margin-right: 64px;
}

.order_form-top {
  margin-top: 52px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
}

.order_form-text {
  border-top: none;
  border-left: none;
  border-right: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background: #F7F6F6;
}

.order_form-sum {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border: none;
  background: #F7F6F6;
  color: #000000;
}

.order_finished-button {
  border-radius: 20px;
  width: 290px;
  height: 41px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.order_finished-button:hover {
  -webkit-animation: pulse_button 1s ease 0s 1 normal forwards;
          animation: pulse_button 1s ease 0s 1 normal forwards;
  background-color: black;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 786px/2);
    padding-right: calc(50% - 393px);
  }
  .for_item {
    height: 268px;
  }
  .product_content {
    -webkit-column-gap: 29px;
            column-gap: 29px;
    row-gap: 39px;
  }
  .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cart_content {
    gap: 24px;
  }
  .cart_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .cart_link-box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 30px;
  }
  .order {
    padding-top: 70px;
  }
  .footer_logo {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
  .head_catalog {
    width: 715px;
  }
  .cart {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .cart_content {
    width: 715px;
  }
  .footer_logo {
    display: none;
  }
}

@media (max-width: 767px) and (min-width: 375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    width: 100hw;
  }
  .header_input {
    display: none;
  }
  .navigation {
    display: none;
  }
  .menu-mob {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 32px;
  }
  .logo_img {
    width: 99px;
    height: 22px;
  }
  .title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .top {
    background-image: url(mobimg/mobtopback.jpg);
  }
  .top_text {
    font-size: 16px;
    line-height: 32px;
  }
  .top_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top_catalog {
    background-image: url(mobimg/mobcatback.png);
    height: 400px;
  }
  .top_cart {
    background-image: url(mobimg/mobcartback.jpg);
  }
  .order {
    width: 358px;
  }
  .cart_name-box {
    display: none;
  }
  .cart_content {
    padding-top: 92px;
  }
  .cart_buttons {
    width: 358px;
  }
  .cart_img {
    display: none;
  }
  .cart_item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .catalog {
    font-size: 14px;
  }
  .catalogy {
    width: 220px;
    height: 40px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 170px;
  }
  .special {
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for_item {
    grid-column: 1 / -1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for_item_big {
    height: 244px;
  }
  .product_name {
    font-size: 18px;
    line-height: 22px;
  }
  .product_price {
    font-size: 18px;
    line-height: 22px;
  }
  .head_catalog {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 16px;
  }
  .move_center {
    font-size: 16px;
    line-height: 24px;
  }
  .footer {
    padding-bottom: 32px;
  }
  .footer_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 34px;
  }
  .footer_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer_form {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 35px;
  }
  .footer_contact {
    padding-left: 100px;
  }
}
/*# sourceMappingURL=style.css.map */